body {
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    background-image: url("Assets/Xmas tree.jpeg");
    background-color: lightgrey;
    background-size: contain;
    margin: 0 5px;
}
header {
    position: fixed;
    left: 0px;
    min-height: 100%;
    max-width: 25%;
    z-index: 1;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.8);;
}
body {
    position: float;
    float: right;
    max-width: 75%;
}
header ul {
    margin: 0;
    list-style: none;
    background-color: none;
    padding: 5px 10px;
}
header li {
    padding: 0px;
    background-color: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    padding: 0px;
    text-align: right;
}
header a {
    color: lightgrey;
    text-decoration: none;
}
#top {
    margin: 0 auto;
}
h2, h3, h4, h5, p, div {
    margin: 20px 25px;
    background-color: rgba(0,0,0,0.6);
    text-align: justify
}
ol, ul {
    margin: 0px 25px;
    background-color: rgba(0,0,0,0.7);
    padding: 10px 30px;
}
ul {
    list-style: disc;
}
li {
    background-color: rgba(0,0,0,0);
    padding: 10px 5px 10px 25px;
}
h1 {
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkgreen;
    padding: 15px;
    text-align: center;
    border-bottom-right-radius: 20px;
}

h2 {
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkred;
    padding: 8px;
    border-radius: 20px;
    text-align: center;
    margin: 20px 5px;
    line-height: 50px;
}

h3 {
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkgreen;
    border-radius: 5px;
    padding: 10px;
    padding-left: 25px;
}
a {
    color: lightblue;
    text-decoration: underline;
}
a:hover {
    color: purple;
    text-decoration: underline;
}
h4 {
    background-color: navy;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}
.special-note {
    border-radius: 25px;
    border: dotted 5px yellow;
}
p, h4, li {
    font-size: 20px;
    line-height: 24px;
    padding: 5px 5px 5px 15px;
}
ol {
    list-style-type: decimal;
}
strong, b {
    font-weight: bold;
}
em, i {
    font-style: italic;
}
span {
    text-decoration: underline;
}
footer {
    text-align: center;
    height: 300px;
}
img {
    max-height: 95%;
    text-align: center;
}
.img-holder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 450px;
}
div img {
    max-height: 85%;
    margin: 0 auto;
}
div p {
    margin: 5 auto;
}
.leisure {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 300px;
    vertical-align: baseline;
}
.leisure img {
    max-height: 98%;
}
#viewfromHPRC {
    display: flex;
    width: 50%;
    margin: 0 auto;
}
#outlet-plug, #blender {
    display: flex;
    max-width: 200px;
    margin: 0 auto;
}
.img-caption {
    margin: 0 auto;
    width: fit-content;
}
#unionpaylogo {
    display: flex;
    width: 150px;
    margin: 0 auto;
}