*,
*:before,
*:after {
    box-sizing: border-box;
}

#background {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    background-repeat: repeat;
    z-index: -1;
}

body {
    display: grid;
    grid-template-columns: 20vw auto;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "header main"
                         ". main"
                         "footer footer";
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    margin: 0 5px;
}

#header-spacer {
    grid-area: header;
}

header {
    position: fixed;
    left: 0px;
    min-height: 100%;
    max-width: 25%;
    z-index: 1;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.8);
}

header ul {
    margin: 0;
    list-style: none;
    background-color: none;
    padding: 5px 10px;
}

header li {
    padding: 0px;
    background-color: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding: 0px;
    text-align: right;
}
header a {
    color: lightgrey;
    text-decoration: none;
}
#top {
    margin: 0 auto;
}

main {
    grid-area: main;
}

h2, h3, h4, h5, p, div {
    margin: 5px 25px 10px;
    background-color: rgba(0,0,0,0.6);
    text-align: justify
}
h3, h4, h5 {
    margin-top: 5px;
}
ol, ul {
    margin: 0px 25px;
    background-color: rgba(0,0,0,0.7);
    padding: 10px 30px;
}
ul {
    list-style: disc;
}
li {
    background-color: rgba(0,0,0,0);
    padding: 10px 5px 10px 25px;
}
.sub-list {
    list-style-type: lower-alpha;
}
h1 {
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkgreen;
    padding: 15px;
    text-align: center;
    border-bottom-right-radius: 20px;
}

h2 {
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkred;
    padding: 8px;
    border-radius: 20px;
    text-align: center;
    margin: 20px 5px;
    line-height: 50px;
}

h3 {
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkgreen;
    border-radius: 5px;
    padding: 10px;
    padding-left: 25px;
}
a {
    color: lightblue;
    text-decoration: underline;
}
a:hover {
    color: purple;
    text-decoration: underline;
}
h4 {
    background-color: navy;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}
.special-note {
    border-radius: 25px;
    border: dotted 5px yellow;
}
p, h4, li {
    font-size: 20px;
    line-height: 24px;
    padding: 5px 5px 5px 15px;
}
ol {
    list-style-type: decimal;
}
strong, b {
    font-weight: bold;
}
em, i {
    font-style: italic;
}
span {
    text-decoration: underline;
}
footer {
    text-align: center;
    height: 300px;
    grid-area: footer;
}

img {
    max-height: 95%;
    text-align: center;
}
.img-holder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 450px;
}
div img {
    max-height: 85%;
    margin: 0 auto;
}
div p {
    margin: 5 auto;
}
.video-holder {
    width: fit-content;
    margin: 0 auto;
}
.leisure {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 300px;
    vertical-align: baseline;
}
.leisure img {
    max-height: 98%;
}
video {
    display: flex;
    margin: 0 auto;
    outline: none;
}
#viewfromHPRC, #HPRC-lobby, #footbridge, #HKD10bill {
    display: flex;
    width: 50%;
    margin: 0 auto;
}
#quartets {
    display: flex;
    flex-direction: row;
    margin: 5 auto;
    height: 280px;
    width: 95%;
    justify-content: center;
    padding-top: 25px;
}
#outlet-plug, #blender {
    display: flex;
    max-width: 200px;
    margin: 0 auto;
}
.img-caption {
    margin: 0 auto;
    width: fit-content;
    font-size: medium;
}
#unionpaylogo {
    display: flex;
    width: 150px;
    margin: 0 auto;
}
.list-pic, .photo-moment {
    display: flex;
    max-width: 66%;
    margin: 0 auto;
    padding: 5px;
}
.hiking-pic {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
}
#sunset-peak-view {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
}
#fish-breakfast, #la-creperie {
    display: flex;
    max-height: 400px;
    margin: 0 auto;
}

iframe {
    display: flex;
    margin: 15px auto;
}

@media (max-width: 800px) {
    header {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        /* justify-content: flex-start; */
        margin: 0;
        padding: 0;
        left: initial;
        max-width: none;
        min-height: none;
    }

    #header-spacer {
        position: sticky;
        top: 0;
        grid-area: header;
        max-width: none;
        min-height: none;
    }

    nav ul {
        /* padding: 0; */
        min-height: none;
        max-width: none;
        z-index: 0;
        display: flex;
        flex-flow: row wrap;
        column-gap: 1em;
    }

    body {
        grid-template-columns: 100vw;
        grid-template-rows: auto, 1fr, auto;
        grid-template-areas: 
            "header"
            "main"
            "footer";
    }

    /* main {
        margin-top: 10vh;
    } */
}